.fz10{
  font-size: 10px;
}

.fz20{
  font-size: 20px
}

.bgpr{
  background-color: #409eff;
}

.bgdg{
  background-color: #f56c6c;
}
.bgsu{
  background-color: #67c23a;
}

.bgif{
  background-color: #909399;
}
.bgwa{
  background-color: #e6a23c;
}
.fz-co{
  color:#fff
}